/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #E9E9E9;
  background-color: #E9E9E9; }

.reveal {
  font-family: "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: normal;
  color: #424242; }

::selection {
  color: #fff;
  background: #FF9900;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #FF9900;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 16px 0;
  color: #006DAF;
  font-family: "Tungsten Narrow A", "Tungsten Narrow B", sans-serif;
  font-weight: normal;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.75);
  word-wrap: break-word; }

.reveal h1 {
  font-size: 3.77em; }

.reveal h2 {
  font-size: 2.11em; }

.reveal h3 {
  font-size: 1.55em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.75); }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #006DAF;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #16a7ff;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #003d63; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #424242;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #006DAF;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #006DAF; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #006DAF; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

body {
  transition: background 0.1s ease; }

.reveal h1 {
  font-weight: 600; }
  .reveal h1 a {
    color: #008de2 !important; }
    .reveal h1 a:hover {
      text-decoration: underline !important; }
  .reveal h1 del {
    color: #BCBCBC; }
  .reveal h1 em {
    font-style: normal;
    color: #990100; }

.reveal h2 {
  text-transform: none;
  color: #7f7f7f; }
  .reveal h2 em {
    font-style: normal;
    color: #990100; }

.reveal h3 {
  text-transform: none;
  color: #7f7f7f; }

.reveal section img {
  border: 0;
  box-shadow: none;
  background: transparent; }

.reveal p {
  margin: 1em 0; }

.reveal p.large {
  font-size: 36px;
  font-weight: 700; }

.reveal p.large, .reveal .columns.dividers {
  border-bottom: 1px solid #bbb;
  border-top: 1px solid #fff;
  padding: 0.5em 0;
  position: relative; }
  .reveal p.large:before, .reveal p.large:after, .reveal .columns.dividers:before, .reveal .columns.dividers:after {
    position: absolute;
    left: 0;
    right: 0;
    content: " ";
    font-size: 0; }
  .reveal p.large:before, .reveal .columns.dividers:before {
    top: -2px;
    border-top: 1px solid #bbb; }
  .reveal p.large:after, .reveal .columns.dividers:after {
    bottom: -2px;
    border-bottom: 1px solid #fff; }

.reveal hr {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #fff;
  border-left: 0;
  border-right: 0; }

.reveal p.small {
  border-style: dotted;
  border-color: #bbb;
  border-width: 1px 0;
  padding: 1em 0;
  font-size: 24px;
  font-style: italic; }

.reveal p.large + p.small {
  border: 0;
  padding: 0; }

.reveal .citation {
  display: block;
  margin-top: 0;
  font-size: 18px;
  font-style: italic; }

.reveal .marker {
  font-family: "Permanent Marker", "Tungsten Narrow A", "Tungsten Narrow B", sans-serif; }

.reveal .error {
  color: #990100; }

.reveal dl .error, .reveal .whiteboard .error {
  color: #FF3333; }

.reveal .warning {
  color: #FF9900; }

.reveal .good {
  color: #238b47; }

.reveal dl .good, .reveal .whiteboard .good {
  color: #289f51; }

.reveal .placeholder {
  padding: 1em;
  background: red;
  color: white; }

.reveal .whiteboard, .reveal dl {
  margin: 0 auto;
  background-color: #424242;
  color: #E9E9E9;
  border-top: 10px solid #BCBCBC;
  border-bottom: 10px solid #BCBCBC;
  text-align: center; }
  .reveal .whiteboard dt, .reveal .whiteboard dd, .reveal .whiteboard p, .reveal dl dt, .reveal dl dd, .reveal dl p {
    margin: 1em; }

.reveal .columns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch; }
  .reveal .columns.vcenter {
    align-items: center; }
  .reveal .columns > div {
    margin: 0 1em;
    flex: 1 1; }
    .reveal .columns > div:first-child {
      margin-left: 0; }
    .reveal .columns > div:last-child {
      margin-right: 0; }

.blackmail body {
  background-image: url("../gfx/blackmail.jpg");
  background-size: contain;
  background-position: left center;
  background-color: white;
  background-repeat: no-repeat; }
  .blackmail body section.present {
    right: 0;
    text-align: right; }
    .blackmail body section.present p.large {
      margin-left: 35%; }
      .blackmail body section.present p.large strong {
        color: #cc0100; }

.definition body {
  background-color: #006DAF; }

.definition .reveal {
  color: #E9E9E9; }
  .definition .reveal h1 {
    color: #E9E9E9;
    font-weight: 300;
    font-size: 1.5em;
    text-shadow: none; }
    .definition .reveal h1 em {
      color: #49baff;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5); }
  .definition .reveal dt {
    color: white;
    font-family: "Permanent Marker", "Tungsten Narrow A", "Tungsten Narrow B", sans-serif;
    font-size: 3em;
    margin: 0.33333em 0; }
  .definition .reveal p.small {
    border: 0; }

.idea-intro body {
  background-color: #238b47; }

.idea-intro section.present {
  color: #E9E9E9; }
  .idea-intro section.present h1 {
    color: #E9E9E9; }
  .idea-intro section.present .columns.dividers, .idea-intro section.present p.large {
    border-bottom-color: #1e773d;
    border-top-color: #289f51; }
    .idea-intro section.present .columns.dividers:before, .idea-intro section.present p.large:before {
      border-top-color: #1e773d; }
    .idea-intro section.present .columns.dividers:after, .idea-intro section.present p.large:after {
      border-bottom-color: #289f51; }

.ojo body {
  background-color: #990100; }

.ojo section.present, .ojo section.present h1 {
  color: #E9E9E9; }

.ojo section.present .columns.dividers, .ojo section.present p.large {
  border-bottom-color: #800100;
  border-top-color: #b30100; }
  .ojo section.present .columns.dividers:before, .ojo section.present p.large:before {
    border-top-color: #800100; }
  .ojo section.present .columns.dividers:after, .ojo section.present p.large:after {
    border-bottom-color: #b30100; }

.blackout body {
  background-color: black; }

.definition .controls .controls-arrow:before, .idea-intro .controls .controls-arrow:before, .ojo .controls .controls-arrow:before, .blackout .controls .controls-arrow:before, .definition .controls .controls-arrow:after, .idea-intro .controls .controls-arrow:after, .ojo .controls .controls-arrow:after, .blackout .controls .controls-arrow:after {
  background-color: #E9E9E9 !important; }

.definition .slide-menu-button a, .idea-intro .slide-menu-button a, .ojo .slide-menu-button a, .blackout .slide-menu-button a, .definition .progress, .idea-intro .progress, .ojo .progress, .blackout .progress {
  color: #E9E9E9; }
