[submodule "vendor/revealjs"]
	path = vendor/revealjs
	url = https://github.com/hakimel/reveal.js.git
[submodule "vendor/revealjs-menu"]
	path = vendor/revealjs-menu
	url = https://github.com/denehyg/reveal.js-menu.git
